Django==2.2
django-filter==2.4.0
django-restframework==0.0.1
django-webpack-loader==0.7.0
djangorestframework==3.12.1
importlib-metadata==2.0.0
Markdown==3.2.2
pytz==2020.1
sqlparse==0.3.1
zipp==3.3.0
